form.login_form {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: 0;
    color: black;
   }
h4 {
    margin: 1em;
    color: gray;
    margin-left: 20px;
}
.container {
    margin-left: 80px;
}
figure {
    display: inline-block;
    padding: 10px;
    margin: 0 1em 0 0;
    vertical-align: top;
   }
   figure.right h2 {
    float: right;
    padding: 5px;
   }