{% extends "base.html" %}

{% block content %}
    <figure class="right">
        <h2 class="right">Подпись справа</h2>
        <img src="static/img/MARS-2-7.png" alt="">
    </figure>



    <form class="login_form" method="post">
        <h4>Id астронавта</h4>
        <input class="form-control" name="surname">
        <h4>Пароль астронавта</h4>
        <input type="password" class="form-control" name="surname">
        <h4>Id капитана</h4>
        <input class="form-control" name="surname">
        <h4>Пароль капитана</h4>
        <input type="password" class="form-control" name="surname">
        <p></p>
        <button type="submit" class="btn btn-primary" margin="1em">Доступ</button>
    </form>





{% endblock %}